@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

:root {
    --main-bg-color:#ffff;
    --black-color:#0D0D0D ;
    --champagne-color:#F7E7CE ;
    --blue-color-:#004851 ;
    --red-color:#B7121F ;
    --dark-vine-color:#4C0D14 ;
    --low-vine-color:#800020 ;
    --middle-vine-color:#6D071A ;


}

*{
    font-family: 'Playfair Display', sans-serif;
}

body{
    background-color: white;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-card{
    width: 950px;
    height: 778px;
    display: flex;
    background-color: var(--main-bg-color);
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow:  20px 20px 60px #bebebe,-20px -20px 60px #ffffff;
}

.left-size{

    width: 50%;
    height: 100%;
    background-image:url(../assets/images/Dark-hat.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 30%;
    border-right: var(--blue-color-) 2px solid;
    
}
.left-size h1{
    text-align: center; 
    font-size: 80px;
    text-align: center;
    min-height: 100hv;
    text-transform: uppercase;
    font-weight: bold;
    mix-blend-mode: hard-light;
    color: white;
    text-shadow:0 5px 10px rgb(0, 0, 0,1);

}

.left-size span{
    color: var(--blue-color-);

}

.left-size img{
    text-align: left;
    width: 60px;
    margin: 20px;
    height: auto;
}

.right-size{
    background-color: var(--main-bg-color);
    width: 50%;
    height: 100%;
}

.right-size-header{
    display: flex; 
    justify-content: space-between;
}

.right-size-header h1{
    font-size: 80px;
    margin: 10px;
    text-align: center;
    font-weight: bold;
    color: #0D0D0D;
}


.right-size-header img{
    width: 32px;
    height: 32px;
}

.right-size-header a{
    width: 32px;
    margin: 5%;
    padding: 0;
    height: 32px;
}

.bow h2{
    margin-top: -5%;
    color: #6D071A;
    padding: 15px;
    margin-left: 2%;
    font-size: 110%;
    margin-bottom: 20%;
}


.form-login {
    width: 100%;
    margin-top: 30px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
}

.form-login form {
    position: relative;
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.form-login input {
    width: 80%;
    padding: 25px 22px 22px 60px;
    border: 2px solid var(--blue-color-);
    border-radius: 8px;
    font-size: 1.2em;
    outline: none;
    background: transparent;
    transition: 0.3s ease-in-out;
}

.label-wrap {
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    gap: 6px;
    pointer-events: none;
}
.icon-label {
    width: 30px;
    height: 30px;
    object-fit: contain;
}
.labelname {
    font-size: 1.1em;
    color: var(--blue-color-);
    transition: transform 0.3s ease, color 0.3s ease;
    pointer-events: none;
}

.form-login input:focus {
    border-color: var(--red-color);
    box-shadow: 0px 0px 8px rgba(109, 7, 26,0.3);
}
.form-login input:focus + .label-wrap .labelname,
.form-login input:not(:placeholder-shown) + .label-wrap .labelname {
    top: 0;
    transform: translateY(-150%) translateX(-50px) scale(0.8); 
    color: var(--red-color);
    background-color: var(--main-bg-color);
    padding: 2px 8px;
}

.regis-log{
    display: flex;
    
}

.regis-log a{
    text-decoration: none;
    padding: 20px;
    color: var(--blue-color-);
    font-weight: bold;
    font-size: 20px;
    margin-left: 20px;
}

.regis-log a:hover{
    transform: scale(1.1);
    transition: transform 0.2s;
    color: rgb(0, 72, 81,0.9);
}

.logs-in{
display: flex;
margin-left: 30%;    
}

.logs-in a{
    padding: 0;
}

.logs-in a img{
    width: 50px;
    height: 50px;
}

.form-button{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
}

.form-button button{
    width: 240px;
    height: 90px;
    text-align: center;
    font-size: 35px;
    font-weight: bold;
    background-color: var(--blue-color-);
    border-radius: 5px;
    color: white;
    border: none    ;
    
}

.form-button button:hover{
    background-color: #4C0D14;
    transition: 0.4s;
}


